numpy
pillow
moderngl==5.6.0 # TODO: upgrade
freetype-py
importlib_resources; python_version<'3.7'
pyglm
moderngl-window
imgui
pyopengl # TODO: ask pyimgui to move BaseOpenGLRenderer so that the moderngl integration doesn't implicitly need pyopengl
